<div class="col-10 middleContainer">
    <div class="row projectLineup">
        <div class="col-4 color-dark projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-light projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-dark projectThumb">
            <p>Picture of my project</p>
        </div>
    </div>
    
    <div class="row projectLineup">
        <div class="col-4 color-light projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-dark projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-light projectThumb">
            <p>Picture of my project</p>
        </div>
    </div>
    
    <div class="row projectLineup">
        <div class="col-4 color-dark projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-light projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-dark projectThumb">
            <p>Picture of my project</p>
        </div>
    </div>
    
    <div class="row projectLineup">
        <div class="col-4 color-light projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-dark projectThumb">
            <p>Picture of my project</p>
        </div>
        <div class="col-4 color-light projectThumb">
            <p>Picture of my project</p>
        </div>
    </div>
</div>

<div class="col-2 color-light rightContainer rounded">
    <div class="infoContainer color-light">
        Some info about the currently selected project.
    </div>
    <div class="buttonContainer color-light rounded">
    
        <a routerLink="../view-project">
            <img src="/assets/menuBTN.png" alt="View" class="viewBTN">
        </a>
    </div>
    
    
</div>