<div class="col-10 middleContainer matchTiles">
    <div class="row projectLineup">
        <div class="col-4 color-notdark projectThumb doGrow" (click)="checkID('droneZone')">
            <img src="/assets/tiles/droneZone.png" alt="DroneZoneTile" onmouseover="src='/assets/tiles/droneZone_over.png'" onmouseout="src='/assets/tiles/droneZone.png'" width="100%" height="100%" />
        </div>
        <div class="col-4 color-light projectThumb doGrow" (click)="checkID('tetris')">
            <img src="/assets/tiles/tetris.png" alt="TetrisTile" onmouseover="src='/assets/tiles/tetris_over.png'" onmouseout="src='/assets/tiles/tetris.png'" width="100%" height="100%" />
        </div>
        <div class="col-4 color-notdark projectThumb doGrow" (click)="checkID('jaguar')">
            <img src="/assets/tiles/jaguar.png" alt="JaguarTile" onmouseover="src='/assets/tiles/jaguar_over.png'" onmouseout="src='/assets/tiles/jaguar.png'" width="100%" height="100%" />
        </div>
    </div>
    
    <div class="row projectLineup">
        <div class="col-4 color-light projectThumb doGrow" (click)="checkID('IMClient')">
            <img src="/assets/tiles/IMClient.png" alt="IMClientTile" onmouseover="src='/assets/tiles/IMClient_over.png'" onmouseout="src='/assets/tiles/IMClient.png'" width="100%" height="100%" />
        </div>
        <div class="col-4 color-notdark projectThumb doGrow" (click)="checkID('IMServer')">
            <img src="/assets/tiles/IMServer.png" alt="IMServerTile" onmouseover="src='/assets/tiles/IMServer_over.png'" onmouseout="src='/assets/tiles/IMServer.png'" width="100%" height="100%" />
        </div>
        <div class="col-4 color-light projectThumb doGrow" (click)="checkID('draughts')">
            <img src="/assets/tiles/draughts.png" alt="DraughtsTile" onmouseover="src='/assets/tiles/draughts_over.png'" onmouseout="src='/assets/tiles/draughts.png'" width="100%" height="100%" />
        </div>
    </div>
    
    <div class="row projectLineup">
        <div class="col-4 color-notdark projectThumb doGrow" (click)="checkID('timer')">
            <img src="/assets/tiles/timer.png" alt="TimerTile" onmouseover="src='/assets/tiles/timer_over.png'" onmouseout="src='/assets/tiles/timer.png'" width="100%" height="100%" />
        </div>
        <div class="col-4 color-light projectThumb doGrow" (click)="checkID('aesthetic')">
            <img src="/assets/tiles/aa.png" alt="AATile" onmouseover="src='/assets/tiles/aa_over.png'" onmouseout="src='/assets/tiles/aa.png'" width="100%" height="100%" />
        </div>
    </div>
</div>

<div class="col-2 color-light rightContainer rounded">
    <div class="infoContainer color-light" id="infoContainer">
        <p class="justifiedText">Select a project to see more information about it.</p>
    </div>
    <div class="buttonContainer color-light rounded" id="buttonContainer">
    
        <a routerLink="../view-project/{{projectID}}">
            <img src="/assets/viewBTN.png" alt="View" class="viewBTN">
        </a>
    </div>
</div>