.projectLineup {
    
    height: 33%;
}

.projectThumb {
    
    height: 100%;
}

.halfContainer {
    
    height: 50%;
}

.topContainer {
    
    margin: 0 25% 0 25%;
    width: 50%;
    height: 100%;
}

.bottomContainer {
    
    height: 100%;
}

.middleContainer {
    
    height: 100%;
    overflow-y: scroll;
}

.rightContainer {
    
    padding: 0;
    height: 100%;
}

.infoContainer {
    
    width: 100%;
    height: 80%;
}

.buttonContainer {
    
    width: 100%;
    height: 20%;
}

.viewBTN {
    
    border: 0;
    margin: 0 25% 0 25%;
}