$id: "none";

.projectLineup {
    
    height: 33%;
}

.projectThumb {
    
    height: 100%;
}

.halfContainer {
    
    height: 50%;
}

.topContainer {
    
    margin: 0 25% 0 25%;
    width: 50%;
    height: 100%;
}

.bottomContainer {
    
    height: 100%;
}

.middleContainer {
    
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.rightContainer {
    
    padding: 0;
    height: 100%;
}


.matchTiles {
    
    background: #151515;
}

.infoContainer {
    
    width: 100%;
    height: 80%;
    padding: 2%;
}

.buttonContainer {
    
    position: relative;
    width: 100%;
    height: 20%;
    //padding-left: 25%;
    //padding-right: 25%;
}

.viewBTN {
    
    background: #191919;
    position: absolute;
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    border: 0;
    bottom: 0;
}

.buttonTXT {
    
    padding: 12% 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
    font-weight: 400;
    user-select: none;
}

/*
.viewBTN {
    
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
*/

.doGrow:hover {
    
    -webkit-animation: grow 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: grow 2s; /* Firefox < 16 */
    -ms-animation: grow 2s; /* Internet Explorer */
    -o-animation: grow 2s; /* Opera < 12.1 */
    animation: grow 1s;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes grow {
    from { }
    to   { //transform: scaleY(1.075);
            //border-bottom: 5px solid orange;
            transform: scale(1.025);
            box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
            background: #181818;
    }
}

@-webkit-keyframes grow {
    from { }
    to   {
        
            transform: scale(1.025);
            box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
            background: #181818;
    }
}

@-moz-keyframes grow {
    from { }
    to   {
        
            transform: scale(1.025);
            box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
            background: #181818;
    }
}

@-ms-keyframes grow {
    from { }
    to   {
        
            transform: scale(1.025);
            box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
            background: #181818;
    }
}

@-o-keyframes grow {
    from { }
    to   {
        
            transform: scale(1.025);
            box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.3);
            background: #181818;
    }
}

@mixin checkID($id){
    
    @if $id == "jaguar"{
        
        .infoContainer {
            
            background: #992222;
        }
    }
}

@media only screen and (max-width: 768px) {
    

    .projectLineup {

        height: auto;
        margin: 0;
        padding: 0;
    }

    .projectThumb {

        max-width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .halfContainer {

        height: auto;
    }

    .topContainer {

        //margin: 0 25% 0 25%;
        max-width: 100%;
        height: auto;
    }

    .bottomContainer {

        height: auto;
    }

    .middleContainer {

        height: auto;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .rightContainer {

        padding: 0;
        height: auto;
    }


    .matchTiles {

        background: #151515;
        height: auto;
    }

    .infoContainer {

        max-width: 100%;
        height: auto;
    }

    .buttonContainer {

        max-width: 100%;
        height: auto;
    }

    .viewBTN {

        border: 0;
    }
}