<div class="col-10 fullContainer color-light">
    <div class="row half color-dark">
        
    </div>

    <div id="projectInfoBox" class="row half color-light infobox">
        bottom
    </div>
</div>

<div class="col-2 fullContainer">
    
    <div id="projectTechBox" class="row infoTop color-notlight">
        top
    </div>

    <div class="row infoBottom">
        <a routerLink="../../portfolio">
            <img src="/assets/viewBTN.png" class="returnButton">
        </a>
        <a routerLink="../../try-project/{{projectName}}">
            <img src="/assets/tryBTN.png" class="tryButton">
        </a>
    </div>
</div>