<div class="col-10 fullContainer color-light">
    <div class="row half color-light">
        <div class="col-3 fullHeight">
            <button class="leftBTN arrow" width="5%" height="5%" (click)="changeImage(-1)">&#10094;</button>
        </div>
        <div id="gallery" class="col-6 color-light fullHeight">

        </div>
        <div class="col-3 fullHeight">        
            <button class="rightBTN arrow" width="5%" height="5%" (click)="changeImage(+1)">&#10095;</button>
        </div>
    </div>

    <div id="projectInfoBox" class="row half color-light infobox">
        bottom
    </div>
</div>

<div class="col-2 fullContainer">
    
    <div id="projectTechBox" class="row infoTop color-notlight">
        top
    </div>

    <div class="row infoBottom">
        <a routerLink="../../portfolio">
            <img src="/assets/portfolioBTN.png" class="returnButton">
        </a>
        <a routerLink="../../try-project/{{projectName}}">
            <img src="/assets/tryBTN.png" class="tryButton">
        </a>
    </div>
</div>