.half {
    
    height: 50%;
}

.infoTop {
    
    height: 60%;
}

.infoBottom {
    
    height: 40%;
    padding: 5% 25% 5% 25%;
}

.fullContainer {
    
    height: 100%;
}

.returnButton {
    
    display: block;
}

.tryButton {
    
    display: block;
}