/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
    
    box-sizing: border-box;
}

html, body {
    
    background: #111111;
    background-image: url(assets/BGpic.png);
    padding: 3em;
    //font-family: 'Raleway', 'Arial';
    font-family: 'Cabin', sans-serif;
    color: #CFCFCF;
    height: 100%;
}

.noPad {
    
    padding: 0;
}

.centeredText {
    
    text-align: center;
}

.justifiedText {
    
    font-family: 'Cabin', sans-serif;
    text-align: justify;
}

.highlight {
    
    color: orange;
}

::-webkit-scrollbar
{
  width: 8px;  //Vertical
  height: 8px; //Horizontal
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

ul {
    
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}

ul li {
    
    display: grid;
    margin-right: 30px;
}

ul li a {
    
    font-size: 1.5em;
}

a {
    
    color: #fff;
    text-decoration: none;
}

.title {
    
    text-align: center;
    margin-left: -120px;
}

.header {
    
    height: 10%;
}

.row::after {
    
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    //border: 1px solid red;
    border: 0;
}

//For desktop screens
@media only screen and (min-width: 768px) {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 600px) {
    //For tablets:
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {
    //For mobile phones:
    [class*="col-"] {
        width: 100%;
    }
}

.pageContainer {
    
    position: relative;
    border-top-right-radius: 10px;
    background: #191919;
    width: 100%;
    height: 100%;
}

.rounded {
    
    border-bottom-right-radius: 10px;
}

.invis {
    
    opacity: 0;
}

.menu {
    
    position: relative;
    background: #191919;
    max-width: 120px;
    height: 90%;
    float: left;
}

.menuBTN {
    
    width: 100%;
    border: 0;
    display: block;
}

.main {
    
    background: #222222;
    width: 100%;
    height: 90%;
    padding-left: 120px;
}

.color-light {
    
    background: #232323;
}

.color-notlight {
    
    background: #1f1f1f;
}

.color-dark {
    
    background: #151515;
}