<div class="col-10 middleContainer color-light">
    <!--
    <h2 class="justifiedText highlight">Background</h2>
    <p class="justifiedText">My interest in games development stems from a childhood dream, ever since stumbling upon the jobs pages in Edge magazine when I was little, and realising games were not in fact made by mystical beings and magic (at least not always). From there, my love of playing games turned into a penchant for creating digital content in all shapes and forms, and then on to a formal education in that field.</p>

    <p class="justifiedText">Having done so for around 10 years now, my biggest skill is programming. I started learning with Visual Basic 6 and HTML4 at secondary school and since then, have had exposure to a wide variety of languages for a whole host of different projects, some of which include C#, Java, Javascript, .Net, DarkBasic, Python, XHTML, mySQL, Lua and PHP.</p>
    
    <p class="justifiedText">My time at university taught me to learn and appreciate the "other parts" of software development - the soft skills, documentation, teamwork and presentation skills. As much as I enjoy programming and designing, I feel without my course I would never have discovered that I enjoy wearing many of the different hats on offer and the different types of work they entail, particularly project management and the critical importance of time management.</p>

    <p class="justifiedText">I ran my own website from 2008 to 2009, previewing and reviewing "free2play" shooters on the PC. Most of these were games created for the Korean and Japanese markets before being released in the west, typically as "international" versions. The website had reasonable success despite the "free2play" market having not reached the heights that we see today.</p>
    
    <h2 class="justifiedText highlight">Present</h2>
    <p class="justifiedText">I am currently looking for employment, taking the skills I have picked up from my education and build on them by learning from professionals within the industry. By far, my strongest programming languages are Javascript and Java, having used both extensively for </p>

    <p class="justifiedText">With my education, my understanding and passion for creating applications for mobile and web has grown considerably too, with an appreciation for developing user interfaces and features that serve the end user instead of just my own desires, as well as taking challenge from the limitations of target platforms.</p>
    
    <h2 class="justifiedText highlight">Future</h2>
    <p class="justifiedText">I have a great interest in working in the games industry, be it games for mobile devices or AAA titles for console or PC. I wish to work alongside and learn from experienced teams and individuals, and have the opportunity to contribute and build on my own ideas and talents.</p>
    !-->
    <h2 class="highlight">Background</h2>
    <p class="justifiedText">From my time spent in further education, I developed a strong background in programming and design, studying <b class="bright">NC Computing with Multimedia and Networking</b> at college, followed by <b class="bright">HNC Computing with Software Development</b>. At University, I achieved distinction for my BSc followed by First Class Honours for <b class="bright">BSc(Hons) Computer Games Development</b> at the University of the West of Scotland. </p>
    <br />
    <p class="justifiedText">I have been programming for around 10 years now, starting out learning the basics with HTML4 and Visual Basic 6 before moving on to Object Oriented programming with C# and DarkBASIC. Since that time, my ability has improved considerably and I have been exposed to, and made use of, many different languages and technologies such as HTML5, CSS3, Javascript, Java, XML, JSON, Python, PHP, ActionScript3, SQL and more. The projects I have been a part of have consisted of applications and games for desktop, mobile and web, and websites. </p>
    <br />
    <p class="justifiedText">The range of projects I have been involved in have allowed me learn about responsive design, native mobile application development (Android), My strongest programming languages by far are Java and Javascript, and my projects have granted me a lot of exposure to both front end and backend development.</p>
    <br />
    <p class="justifiedText">My time at university taught me to learn and appreciate the "other parts" of software development - the soft skills, documentation, teamwork and presentation skills. As much as I enjoy programming and designing, I feel without my course I would never have discovered that I enjoy wearing many of the different hats on offer and the different types of work they entail, particularly project management and the critical importance of time management. The many types of required documentation and methodologies which keep projects in check, testing methods, processes such as gathering user requirements and feedback are all valuable elements I feel I would have missed out on without my educational background.</p>
    <h2 class="highlight">Present</h2>
    <p class="justifiedText">I am currently looking for employment, eager to take my existing skillset and expand upon it by learning from professionals within the industry to gain valuable experience. While I enjoy designing and implementing designs for front end development and their functionality, I have an equal amount of enthusiasm for backend development and providing online services.</p>
    <br />
    <p class="justifiedText">While I continue searching, I am currently working on expanding my portfolio selection to stay up to date with the latest technologies and creating mobile applications to publish.</p>
</div>

<div class="col-2 color-notlight rightContainer">

    <h2 class="centeredText orange smallHead">Education</h2>
    <ul class="ul2">
        <li class="li2">NC Computing with Multimedia and Networking</li>
        <li class="li2">HNC Computing with Software Development</li>
        <li class="li2">BSc(Hons) Computer Games Development, First Class</li>
    </ul> 
    <h2 class="centeredText orange smallHead">Skills</h2>
    <ul class="ul2">
        <li class="li2">Teamwork</li>
        <li class="li2">Problem Solving</li>
        <li class="li2">Communication</li>
    </ul>  
    <ul class="ul2">
        <li class="li2">Java</li>
        <li class="li2">Javascript</li>
        <li class="li2">CSS3</li>
        <li class="li2">HTML5</li>
        <li class="li2">Angular 5</li>
        <li class="li2">JQuery/Jquery Mobile</li>
        <li class="li2">Android</li>
    </ul>
    <ul class="ul2">
        <li class="li2">Firebase</li>
        <li class="li2">MySQLi</li>
    </ul> 
</div>