<div class="col-10 middleContainer color-notlight">
    <h2 class="justifiedText highlight">Background</h2>
    <p class="justifiedText">My interest in games development stems from a childhood dream, ever since stumbling upon the jobs pages in Edge magazine when I was little, and realising games were not in fact made by mystical beings and magic (at least not always). From there, my love of playing games turned into a penchant for creating digital content in all shapes and forms, and then on to a formal education in that field.</p>

    <p class="justifiedText">Having done so for around 10 years now, my biggest skill is programming. I started learning with Visual Basic 6 and HTML4 at secondary school and since then, have had exposure to a wide variety of languages for a whole host of different projects, some of which include C#, Java, Javascript, .Net, DarkBasic, Python, XHTML, mySQL, Lua and PHP.</p>

    <p class="justifiedText">I ran my own website from 2008 to 2009, previewing and reviewing "free2play" shooters on the PC. Most of these were games created for the Korean and Japanese markets before being released in the west, typically as "international" versions. The website had reasonable success despite the "free2play" market having not reached the heights that we see today.</p>
    
    <h2 class="justifiedText highlight">Present</h2>
    <p class="justifiedText">My time at university has taught me to learn and appreciate the "other parts" of software development - the soft skills, documentation, teamwork and presentation skills. As much as I enjoy programming and designing, I feel without my course I would never have discovered that I enjoy wearing many of the different hats on offer and the different types of work they entail, particularly project management and the critical important of time management.</p>

    <p class="justifiedText">With my education, my understanding and passion for creating applications for mobile and web has grown considerably too, with an appreciation for developing user interfaces and features that serve the end user instead of just my own desires, as well as taking challenge from the limitations of target platforms.</p>
    
    <h2 class="justifiedText highlight">Future</h2>
    <p class="justifiedText">I have a great interest in working in the games industry, be it games for mobile devices or AAA titles for console or PC. I wish to work alongside and learn from experienced teams and individuals, and have the opportunity to contribute and build on my own ideas and talents.</p>
</div>

<div class="col-2 color-light rightContainer">

    <h2 class="centeredText orange">Skills</h2>
    <ul class="ul2">
        <li class="li2">Teamwork</li>
        <li class="li2">Problem Solving</li>
        <li class="li2">Communication</li>
    </ul>  
    <ul class="ul2">
        <li class="li2">Java</li>
        <li class="li2">Javascript</li>
        <li class="li2">CSS3</li>
        <li class="li2">HTML5</li>
        <li class="li2">Angular 5</li>
        <li class="li2">JQuery/Jquery Mobile</li>
        <li class="li2">Android</li>
    </ul>
    <ul class="ul2">
        <li class="li2">Firebase</li>
        <li class="li2">MySQLi</li>
    </ul> 
</div>