.color-dark {
    
    background: #555555;
}

.color-light {
    
    background: #AAAAAA;
}

.color-notlight {
    
    background: #171717;
}

.centeredText {
    
    text-align: center;
}

.middleContainer {
    
    height: 100%;
    overflow-y: scroll;
}

.rightContainer {
    
    height: 100%;
}