<div class="col-10 middleContainer color-light">
    <div class="row color-light centeredText largeRow">
        <h2 class="orange">Get in touch</h2>
    </div>
    <div class="row centeredText largeRow">
        <p class="displayText"><b class="orange">Email:</b> Styles@outlook.com</p>
    </div>
    <div class="row color-light centeredText largeRow">
        <p class="displayText"><b class="orange">Mobile:</b> 07379342062</p>
    </div>
</div>

<div class="col-2 rightContainer rounded color-notlight">

</div>