.color-dark {
    
    background: #555555;
}

.color-light {
    
    background: #AAAAAA;
}

.color-notlight {
    
    background: #171717;
}

.centeredText {
    
    text-align: center;
}

.halfContainer {
    
    height: 50%;
}

.topContainer {
    
    margin: 0 25% 0 25%;
    width: 50%;
    height: 100%;
}

.bottomContainer {
    
    height: 100%;
}

.middleContainer {
    
    height: 100%;
}

.rightContainer {
    
    height: 100%;
}