<div class="col-10 middleContainer">
    <div class="row halfContainer color-notlight">
        <div class="col-3 color-light topContainer">
                <!--<img src="/assets/me.png" class="bioPic">-->
                <h1 class="headTXT invis introHead">JOSHUA</h1>
                <h1 class="headTXT2 invis movingName stretchingName">STYLES</h1>
        </div>
        <div class="col-9 middleContainer summaryContainer">
            <div class="row summary">
                <div class="line1 expandingLine"></div>
                <div class="circle1 movingCircle"></div>
                <h2 class="summaryTXT summaryTXT1">Software</h2>
            </div>
            <div class="row summary">
                <div class="line2 expandingLine"></div>
                <div class="circle2 movingCircle"></div>
                <h2 class="summaryTXT summaryTXT2">Web</h2>
            </div>
            <div class="row summary">
                <div class="line3 expandingLine"></div>
                <div class="circle3 movingCircle"></div>
                <h2 class="summaryTXT summaryTXT3">Mobile</h2>
            </div>
            <div class="row summary">
                <div class="line4 expandingLine"></div>
                <div class="circle4 movingCircle"></div>
                <h2 class="summaryTXT summaryTXT4">Games</h2>
            </div>
        </div>
    </div>
    
    <div class="row halfContainer">
        <div class="col-5 color-light bottomContainer">
            <h3 class="welcomeTXT invis introWelcome">Welcome</h3>
        </div>
        <div class="col-7 color-light bottomContainer">    
            <p class="justifiedText invis introBody">I am Joshua Styles, a 28 year old software developer. I am a recent graduate of the University of the West of Scotland, achieving a first in BSc(Hons) Computer Games Development. I am currently doing my postgrad at the University of Glasgow for MSc Software Engineering.</p>
            
            <p class="justifiedText invis introBody">This website serves to show who I am, what I can do and demonstrate some of the projects I have worked on over the years, including games, applications and websites.</p>
        </div>
    </div>
</div>

<div class="col-2 color-light rightContainer">

</div>