<div class="col-10 middleContainer">
    <div class="row halfContainer">
        <div class="col-12 color-dark topContainer">
                <p>Picture of my ugly face</p>
        </div>
    </div>
    
    <div class="row halfContainer">
        <div class="col-12 color-light bottomContainer">
            
            <h1 class="centeredText">Hello!</h1>
            <p class="centeredText">Some welcoming text from moi.</p>
        </div>
    </div>
</div>

<div class="col-2 color-notlight rightContainer">

    <p>Animation or blank.</p>
</div>