.halfContainer {
    
    height: 50%;
}

.topContainer {
    
    //margin: 0 25% 0 25%;
    padding-top: 2%;
    padding-left: 2%;
    text-align: center;
    min-width: 25%;
    height: 100%;
    //border-radius: 0 20px 0 0;
}

.bottomContainer {
    
    height: 100%;
    padding: 4% 2% 0 4%;
}

.bottomContainer2 {
    
    height: 100%;
    padding: 4% 2% 0 4%;
}

.middleContainer {
    
    height: 100%;
    padding: 0;
}

.rightContainer {
    
    height: 100%;
}

.bioPic {
    
    width: 100%;
    height: 100%;
    //border-radius: 20px;
}

.headTXT {
    
    font-size: 4em;
    margin: 0;
    font-weight: 100;
    transform: scaleY(1);
    margin-top: 25%;
}

.headTXT2 {
    
    font-size: 6em;
    margin: 0;
    font-weight: 400;
    color: orange;
}

.welcomeTXT {
    
    font-size: 7em;
    font-weight: 100;
    color: #252525;
    margin: 0;
}

.summaryContainer {
    
    background-image: -webkit-linear-gradient(40deg, #232323 20%, #1f1f1f 30%);
}

.summary {
    
    height: 25%;
    width: 100%;
}

.summaryTXT {
    
    margin: 0;
    padding-top: 2%;
    color: #9f9f9f;
    font-size: 1.5em;
    font-weight: 100;
}

.summaryTXT1 {
    
    padding-left: 60%;
    padding-top: 2.25%;
}

.summaryTXT2 {
    
    padding-left: 66.5%;
    padding-top: 2.25%;
}

.summaryTXT3 {
    
    padding-left: 73.5%;
    padding-top: 2.25%;
}

.summaryTXT4 {
    
    padding-left: 80.25%;
    padding-top: 2.25%;
}

.line1 {
    
    height: 2px;
    background: #232323;
    position: absolute;
    margin-top: 2.55%;
    margin-left: 6.75%;
}

.line2 {
    
    height: 2px;
    width: 1px;
    //background: #252525;
    background: #232323;
    position: absolute;
    margin-top: 2.55%;
    margin-left: 11%;
}

.line3 {
    
    height: 2px;
    width: 1px;
    //background: #2a2a2a;
    background: #232323;
    position: absolute;
    margin-top: 2.55%;
    margin-left: 15%;
}

.line4 {
    
    height: 2px;
    width: 1px;
    //background: #2f2f2f;
    background: #232323;
    position: absolute;
    margin-top: 2.55%;
    margin-left: 19.25%;
}

.circle1 {
  
    width: 3px;
    height: 3px;
    margin-top: 2.55%;
    margin-left: 7%;
    position: absolute;
    background: orange;
    border-radius: 50%;
}

.circle2 {
  
    width: 3px;
    height: 3px;
    margin-top: 2.55%;
    margin-left: 11%;
    position: absolute;
    background: orange;
    border-radius: 50%;
}

.circle3 {
  
    width: 3px;
    height: 3px;
    margin-top: 2.55%;
    margin-left: 15%;
    position: absolute;
    background: orange;
    border-radius: 50%;
}

.circle4 {
  
    width: 3px;
    height: 3px;
    margin-top: 2.55%;
    margin-left: 19%;
    position: absolute;
    background: orange;
    border-radius: 50%;
}

.introHead {
    
    -webkit-animation: headFadeIn 4s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: headFadeIn 4s; /* Firefox < 16 */
    -ms-animation: headFadeIn 4s; /* Internet Explorer */
    -o-animation: headFadeIn 4s; /* Opera < 12.1 */
    animation: headFadeIn 4s;
    -webkit-animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
}

.movingName {
    
    -webkit-animation: headFadeIn 1s, stretchName 1s, moveName 1s,; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: headFadeIn 1s, moveName 2s; /* Firefox < 16 */
    -ms-animation: headFadeIn 1s, moveName 2s; /* Internet Explorer */
    -o-animation: headFadeIn 1s, moveName 2s; /* Opera < 12.1 */
    animation: headFadeIn 3s, stretchName 4s, moveName 4s,;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 1s, 1s, 1s;
    -webkit-animation-fill-mode: forwards;

}

.introBody {
    
    -webkit-animation: headFadeIn 6s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: headFadeIn 6s; /* Firefox < 16 */
    -ms-animation: headFadeIn 6s; /* Internet Explorer */
    -o-animation: headFadeIn 6s; /* Opera < 12.1 */
    animation: headFadeIn 6s;
    -webkit-animation-delay: 6s;
    -webkit-animation-fill-mode: forwards;
}

.introWelcome {
    
    -webkit-animation: headFadeIn 5s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: headFadeIn 5s; /* Firefox < 16 */
    -ms-animation: headFadeIn 5s; /* Internet Explorer */
    -o-animation: headFadeIn 5s; /* Opera < 12.1 */
    animation: headFadeIn 5s;
    -webkit-animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes headFadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes headFadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes headFadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes headFadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.expandingLine {
    
    -webkit-animation-name: squash;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 4s;
    -webkit-animation-timing-function: ease-out;
}

.movingCircle {
    
    -webkit-animation-name: moveCircle;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: normal;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 4s;
    -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes squash {
    
    from { width: 0%}
    to  { width: 27% }
}

@-webkit-keyframes moveCircle {
    
        from { }
        to  { 
            transform: translateX(24vw);
        }
}

@-webkit-keyframes moveName {
    
        from { }
        to  { 
            margin-top: 5%;
        }
}

@-webkit-keyframes stretchName {
    
        from { }
        to  { 
            transform: scaleY(1.4);
        }
}

@media only screen and (max-width: 768px) {
    
    .halfContainer {
    
        height: 25%;
    }

    .topContainer {

        text-align: center;
        max-width: 100%;
        height: 100%;
    }

    .bottomContainer {

        max-width: 100%;
        height: 25%;
        padding: 0;
        display: none;
    }
    
    .bottomContainer2 {

        max-width: 100%;
        height: 100%;
        padding: 0;
    }

    .middleContainer {

        max-width: 100%;
        height: 100%;
        padding: 0;
    }

    .rightContainer {

        display: none;
        max-width: 100%;
        height: 100%;
    }
    
    .summaryTXT1 {
    
        padding: 0;
    }

    .summaryTXT2 {

        padding: 0;
    }

    .summaryTXT3 {

        padding: 0;
    }

    .summaryTXT4 {

        padding: 0;
    }
    
    .headTXT {
    
        font-size: 3em;
        margin: 0;
        font-weight: 100;
        transform: scaleY(1);
    }

    .headTXT2 {

        font-size: 2em;
        margin: 0;
        font-weight: 400;
        color: orange;
    }

    .welcomeTXT {

        
        font-size: 1em;
        font-weight: 100;
        color: #252525;
        margin: 0;
    }
}

