.halfContainer {
    
    height: 50%;
}

.topContainer {
    
    margin: 0 25% 0 25%;
    width: 50%;
    height: 100%;
}

.bottomContainer {
    
    height: 100%;
}

.middleContainer {
    
    height: 100%;
    padding: 0;
}

.rightContainer {
    
    height: 100%;
}