<div class="pageContainer color-notlight rounded">
    <div class="header">
        <!--<h1 class="title highlight">Joshua Styles</h1>-->
        <div class="iconBox">
            <a href="https://www.facebook.com/profile.php?id=100011664107621"><img src="/assets/icons/facebook.png" class="icon"/></a>
            <a href="https://www.github.com/jthejackal"><img src="/assets/icons/github.png" class="icon"/></a>
            <a href="https://www.linkedin.com/in/joshua-styles-048130a4"><img src="/assets/icons/linkedin.png" class="icon"/></a>
        </div>
    </div>

    <div class="menu">

        <a routerLink="home">
        <img src="/assets/homeBTN.png" alt="Home" class="menuBTN" onmouseover="src='/assets/homeBTN_over.png'" onmouseout="src='/assets/homeBTN.png'">
        </a>
        <a routerLink="about">
        <img src="/assets/aboutBTN.png" alt="About" class="menuBTN" onmouseover="src='/assets/aboutBTN_over.png'" onmouseout="src='/assets/aboutBTN.png'">
        </a>
        <a routerLink="portfolio">
        <img src="/assets/portfolioBTN.png" alt="Portfolio" class="menuBTN" onmouseover="src='/assets/portfolioBTN_over.png'" onmouseout="src='/assets/portfolioBTN.png'">
        </a>
        <a routerLink="contact">
        <img src="/assets/contactBTN.png" alt="Contact" class="menuBTN" onmouseover="src='/assets/contactBTN_over.png'" onmouseout="src='/assets/contactBTN.png'">
        </a>
    </div>

    <div class="main rounded">

            <router-outlet></router-outlet>
    </div>
</div>
