<div class="pageContainer">
    <div class="header">
        <h1 class="title">Joshua Styles</h1>
    </div>

    <div class="menu">

        <a routerLink="home">
        <img src="/assets/menuBTN.png" alt="Home" class="menuBTN">
        </a>
        <a routerLink="about">
        <img src="/assets/menuBTN.png" alt="About" class="menuBTN">
        </a>
        <a routerLink="portfolio">
        <img src="/assets/menuBTN.png" alt="Portfolio" class="menuBTN">
        </a>
        <a routerLink="contact">
        <img src="/assets/menuBTN.png" alt="Contact" class="menuBTN">
        </a>
    </div>

    <div class="main">

            <app-home></app-home>
    </div>
</div>

<router-outlet></router-outlet>
