<div class="col-10 fullContainer color-dark">
    <div id="gameDiv"></div>
</div>

<div class="col-2 fullContainer">
    <div id="instructionsBox" class="infoTop color-notlight">
        top 
    </div>

    <a routerLink="../../view-project/{{projectName}}">
        <div class="divBTN">
            <p class="buttonTXT">Return to View</p>
        </div>
    </a>
    <a routerLink="../../portfolio">
        <div class="divBTN">
            <p class="buttonTXT">Return to Portfolio</p>
        </div>
    </a>
</div>